@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: hsl(212.7, 26.8%, 83.9);
  }

  * {
    @apply border-border;
  }
  body {
    @apply font-plus-jakarta;
  }
}

@layer utilities {
  .heading-1-bold {
    @apply font-bold text-[32px];
  }

  .heading-1-semibold {
    @apply font-semibold text-[32px];
  }

  .heading-2-bold {
    @apply font-bold text-[24px];
  }

  .heading-3-bold {
    @apply font-extrabold text-[18px];
  }

  .heading-3-medium {
    @apply font-medium text-[18px];
  }

  .base-regular {
    @apply font-normal text-[20px];
  }

  .base-medium {
    @apply font-normal text-[20px];
  }

  .base-bold {
    @apply font-bold text-[20px];
  }

  .base-semibold {
    @apply font-semibold text-[20px];
  }

  .p-bold {
    @apply font-bold text-[16px];
  }

  .p-semibold {
    @apply font-semibold text-[16px];
  }

  .p-medium {
    @apply font-medium text-[16px];
  }

  .body-bold {
    @apply font-bold text-[14px];
  }

  .body-medium {
    @apply font-medium text-[14px];
  }

  .body-regular {
    @apply font-normal text-[14px];
  }

  .small-regular {
    @apply font-normal text-[12px];
  }

  .small-medium {
    @apply font-medium text-[12px];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .active {
    @apply bg-blue-500 hover:bg-blue-700 text-white;
  }
}
