@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: hsl(212.7, 26.8%, 83.9);
  }

  * {
    @apply border-border;
  }
  body {
    @apply font-plus-jakarta;
  }
}

@layer utilities {
  .heading-1-bold {
    @apply font-bold text-[32px];
  }

  .heading-1-semibold {
    @apply font-semibold text-[32px];
  }

  .heading-2-bold {
    @apply font-bold text-[24px];
  }

  .heading-3-bold {
    @apply font-extrabold text-[18px];
  }

  .heading-3-medium {
    @apply font-medium text-[18px];
  }

  .base-regular {
    @apply font-normal text-[20px];
  }

  .base-medium {
    @apply font-normal text-[20px];
  }

  .base-bold {
    @apply font-bold text-[20px];
  }

  .base-semibold {
    @apply font-semibold text-[20px];
  }

  .p-bold {
    @apply font-bold text-[16px];
  }

  .p-semibold {
    @apply font-semibold text-[16px];
  }

  .p-medium {
    @apply font-medium text-[16px];
  }

  .body-bold {
    @apply font-bold text-[14px];
  }

  .body-semibold {
    @apply font-semibold text-[14px];
  }

  .body-medium {
    @apply font-medium text-[14px];
  }

  .body-regular {
    @apply font-normal text-[14px];
  }

  .small-bold {
    @apply font-bold text-[12px];
  }

  .small-semibold {
    @apply font-semibold text-[12px];
  }

  .small-regular {
    @apply font-normal text-[12px];
  }
  .filter-title {
    @apply font-semibold text-[12px] text-blue-100 uppercase;
  }

  .small-medium {
    @apply font-medium text-[12px];
  }

  .xsmall-regular {
    @apply font-normal text-[10px];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .active {
    @apply text-blue-500 dark:text-blue-300;
  }

  .btn {
    @apply flex-center bg-blue-500 hover:opacity-90 text-white px-5;
  }
  .max-container {
    @apply mx-auto max-w-[1440px];
  }
}

@layer components {
  /* Home Page */
  .homeHeaderH1 {
    @apply p-semibold md:heading-3-bold lg:heading-1-semibold text-white -tracking-[0.16px] md:-tracking-[0.32px] leading-[22px] lg:leading-[38.4px] mb-[4px] lg:mb-[16px] md:text-left;
  }

  .homeSubtitle {
    @apply small-regular lg:p-medium text-white leading-[19.6px] lg:leading-[25.6px] tracking-[0.32px];
  }

  .homeHeaderGrid {
    @apply grid grid-cols-1 mx-auto text-center sm:text-left sm:grid-cols-2 gap-y-[32px] gap-x-[32px];
  }

  .homeHeaderImage {
    @apply object-cover w-full min-h-[232px] lg:min-h-[360px] transition-all duration-300 transform group-hover:scale-100;
  }

  .homePopularCarsGrid {
    @apply grid grid-flow-col sm:grid-flow-row gap-[10px] sm:gap-x-8 gap-y-8 mt-[20px] sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 sm:px-0 overflow-x-auto;
  }

  .homeRecommendedGrid {
    @apply grid grid-cols-1 gap-x-8 gap-y-8 mt-[20px] sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 sm:px-0;
  }

  /* Card */
  .cardButton {
    @apply inline-flex items-center justify-center px-6 py-3 font-semibold text-[12px] lg:font-semibold lg:text-[14px] leading-5 text-white transition-all duration-200 bg-blue-500 border border-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 hover:bg-blue-500 hover:opacity-90;
  }

  .cardContainer {
    @apply flex flex-col justify-between gap-0 overflow-hidden transition-all duration-200 transform bg-white dark:bg-gray-850 shadow rounded-[10px] hover:shadow-lg hover:-translate-y-1 max-h-[388px] min-w-[280px];
  }

  .cardTitle {
    @apply md:base-bold p-semibold text-gray-900 dark:text-white leading-6 line-clamp-1;
  }

  .cardSubtitle {
    @apply md:body-bold font-medium text-[12px] text-gray-400 line-clamp-1;
  }

  .isFavoritedIcon {
    @apply w-[20px] pt-1 md:pt-0 md:w-[24px] md:h-[24px] ml-auto cursor-pointer;
  }

  .cardImage {
    @apply bg-no-repeat bg-top bg-contain border-2 border-white dark:border-gray-850;
  }

  .cardIconContainer {
    @apply md:w-[33%] lg:w-full flex flex-col lg:flex-row justify-between small-regular sm:body-medium text-gray-400 leading-6 md:pl-[10px] pr-[24px] lg:px-[24px] gap-y-[10px];
  }

  .cardIconItem {
    @apply flex justify-start lg:justify-between items-center;
  }

  .cardIcon {
    @apply mr-[4px] h-[14px] w-[14px] lg:h-[24px] lg:w-[24px];
  }

  .cardPrice {
    @apply p-bold md:base-bold text-gray-900 dark:text-white line-clamp-1 leading-6;
  }

  .cardDiscountedPrice {
    @apply small-regular md:body-bold text-gray-400 line-clamp-1 line-through;
  }

  /* rent now modal */
  .gridCol2 {
    @apply grid grid-cols-2 gap-2.5;
  }

  .formTitle {
    @apply flex body-semibold sm:p-semibold mb-2.5 sm:mb-4 text-gray-900 dark:text-white;
  }

  .inputArea {
    @apply border-none bg-white-200 dark:bg-gray-800 body-regular text-gray-400 dark:text-white-200;
  }

  .modalIcon {
    @apply mr-2 h-4 w-4;
  }
}

#slider span > span {
  background-color: #424b5c !important;
}
#slider span span {
  background-color: #3563e9 !important;
}
#slider span span > span {
  background-color: #3563e9 !important;
}
.react-time-picker__inputGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #90a3bf;
  width: 100%;
  background-color: #f6f7f9;
  height: 40px;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
}

.react-time-picker__inputGroup__input {
  min-width: 40px;
  background-color: transparent;
}

html.dark .react-time-picker__inputGroup {
  background-color: #424b5c;
}
@layer pages {
  .subtitle {
    @apply text-gray-400 p-semibold pb-5;
  }
}

/* time picker styling for rent now Modal */
#modalpickUpTime .react-time-picker__inputGroup,
#modaldropOffTime .react-time-picker__inputGroup {
  justify-content: space-between;
  color: #90a3bf;
  background-color: #f6f7f9;
  height: 56px;
  padding: 14px 18px;
  font-size: 14px;
  border-radius: 7px;
}

html.dark #modalpickUpTime .react-time-picker__inputGroup,
html.dark #modaldropOffTime .react-time-picker__inputGroup {
  background-color: #424b5c;
  color: #f6f7f9;
}
